h1, p {
  font-family: Lato;
  font-size: 2em;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 2em;
}

td, th {
  border: 3px solid #000000;
  text-align: left;
  padding: 8px;
  font-size: 2em;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

@media print{
	.hide-on-print{
		display: none;
	}
}